div.contact {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        width: 51vw;
        height: 51vw;
        border: 1rem solid #ffffff;
        transform: rotate(45deg);
        top: 35%;
        left: calc(50% - 53vw / 2);

        @media (max-width:576px) {
            display: none;
        }
    }

    div.main {
        align-items: center;
        justify-content: center;

        @media (max-width: 576px) {
            align-items: flex-end;
        }

        div.container {
            padding-top: 0rem;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;

            @media (max-width: 576px) {
                display: none;
            }
        }

        div.slide {
            display: none;
            padding-top: 6.5rem;
            justify-content: center;
            align-items: center;

            ::-webkit-scrollbar {
                width: 0px;
                height: 0px;
            }

            @media (max-width:576px) {
                display: flex;
            }
        }

        .fp-arrow {
            display: none;

            @media (max-width:576px) {
                display: unset;
            }

            &.fp-prev {
                border-width: 35px 35px 35px 0;
                border-color: transparent rgba(38, 216, 255, .5) transparent transparent;
                left: 5px;
                z-index: 5;

                @media (max-width:450px) {
                    border-width: 25px 25px 25px 0;
                }
            }

            &.fp-next {
                border-width: 35px 0 35px 35px;
                border-color: transparent transparent transparent rgba(38, 216, 255, .5);
                right: 5px;
                z-index: 5;

                @media (max-width:450px) {
                    border-width: 25px 0 25px 25px;
                }
            }
        }

        div.contactInfo {
            width: 35%;
            max-width: 407px;
            min-width: 320px;
            height: 100%;
            max-height: 815px;
            // height: 815px;
            color: #ffffff;
            display: flex;
            align-items: center;

            @media (max-width:1200px) {
                width: 40%;
            }

            @media (max-width:992px) {
                width: 45%;
            }

            @media (max-width:756px) {
                width: 46%;
            }

            @media (max-width:650px) {
                min-width: 355px;
            }

            @media (max-width:576px) {
                width: 100%;
                min-height: 660px;
            }

            @media (max-width:390px) {
                min-height: 600px;
            }

            div.phoneBg {
                padding: 6.2% 6.4%;
                width: 100%;
                height: 100%;
                z-index: 0;
                position: relative;

                &::before {
                    content: '';
                    width: 90%;
                    height: 100%;
                    position: absolute;
                    top: calc(50% - 100% / 2);
                    left: calc(50% - 90% / 2);
                    background: #000000;
                    background: url(../images/bg/phonebg.png) no-repeat center/cover;
                    // border-radius: 62px;
                    z-index: -1;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    background: url(../images/bg/phonebd.png) no-repeat center/cover;
                    z-index: -1;
                }

                div.phoneContainer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    &::after {
                        content: '';
                        width: 35%;
                        height: 0.25rem;
                        border-radius: 1rem;
                        background: rgba(254, 254, 255, 1);
                        position: absolute;
                        bottom: 3.7%;
                        left: calc(50% - 35% / 2);
                    }

                    div.phoneHead {
                        margin-top: .5rem;
                        padding: 0 1.5rem;
                        width: 100%;
                        font-size: 1rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        div.headRight {
                            width: 1rem;
                            height: 1rem;
                            background: url(../images/Icons/battery.png) no-repeat top/contain;
                            position: relative;

                            &::before {
                                content: '';
                                width: 100%;
                                height: 58%;
                                background: url(../images/Icons/wifi.png) no-repeat center/contain;
                                position: absolute;
                                top: 0;
                                right: 1.1rem;
                            }

                            &::after {
                                content: '';
                                width: 100%;
                                height: 50%;
                                background: url(../images/Icons/signal.png) no-repeat center/contain;
                                position: absolute;
                                top: 0;
                                right: 1.95rem;
                            }
                        }
                    }

                    div.phoneInfo {
                        padding: 1.25rem 0;
                        width: 100%;
                        height: 93%;
                        background: rgba(28, 28, 30, 1);
                        border-radius: 0 0 30px 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;

                        h3 {
                            font-size: 1.5rem;
                        }

                        div.myPicture {
                            align-self: center;
                            width: 8vw;
                            height: 8vw;
                            max-width: 9.5rem;
                            max-height: 9.5rem;
                            min-width: 5rem;
                            min-height: 5rem;
                            border-radius: 50%;
                            background: rgba(73, 255, 244, 1);
                            overflow: hidden;

                            img {
                                height: 100%;
                            }
                        }

                        div.infoBox {
                            height: 70%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;

                            div.basicInfo {
                                div.infoRow {
                                    position: relative;

                                    &:not(.tel)::after {
                                        content: '';
                                        width: 100%;
                                        height: 0.15rem;
                                        background: rgba(255, 255, 255, .1);
                                        position: absolute;
                                        bottom: 0;
                                    }

                                    div.infoContent {
                                        width: 67%;
                                    }
                                }
                            }

                            div.infoRow {
                                padding: 2.5% 1rem;
                                display: flex;
                                justify-content: space-between;
                                background: rgba(44, 44, 46, 1);

                                div.infoTitle {
                                    font-size: 1.5rem;
                                    text-align: left;
                                }

                                div.infoContent {
                                    width: 60%;
                                    font-size: 1.25rem;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    &:hover {
                                        i.fa-chevron-right {
                                            margin-right: 0rem;
                                            font-size: 1.1rem;
                                            color: rgba(255, 255, 255, 0.5);
                                        }
                                    }

                                    i.fa-chevron-right {
                                        margin-right: .3rem;
                                        font-size: 1rem;
                                        color: rgba(255, 255, 255, 0.2);
                                        transition: all .1s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div.contactMsg {
            padding: .5rem 1.25rem;
            width: 45%;
            min-width: 350px;
            height: 85%;
            background: rgba(13, 19, 0, 1);
            border: .5rem solid rgba(255, 178, 88, 1);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            position: relative;

            @media (max-width:992px) {
                width: 50%;
            }

            @media (max-width:650px) {
                width: 55%;
            }

            @media (max-width:576px) {
                width: 100%;
                height: 522px;
            }

            @media (max-width:390px) {
                min-width: unset;
            }

            &::before {
                content: '';
                width: 15%;
                height: 10%;
                background: url(../images/Icons/arrow.png) no-repeat center/contain;
                position: absolute;
                bottom: 20%;
                right: 7.5%;
                z-index: 1;
            }

            h3 {
                font-weight: 500;
                color: rgba(255, 240, 101, 1);
            }

            p {
                font-size: 1.25rem;
                color: rgba(255, 255, 255, .5);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-end;

                span:last-child {
                    font-size: 1rem;
                    text-align: right;

                    &::before {
                        content: '*';
                        color: rgb(255, 0, 0, 0.7);
                    }
                }
            }

            form {
                height: 85%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                font-size: 1.5rem;

                div {
                    position: relative;
                    width: 100%;

                    &:not(.formBtn, .alert) :before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: .3rem;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 1rem;
                        bottom: 0%;
                    }

                    &:nth-child(1),
                    &:nth-child(3),
                    &:nth-child(5) {
                        height: 13%;
                        min-height: 4.5rem;
                    }

                    &:nth-child(7) {
                        height: 30%;

                        textarea {
                            height: calc(100% - 2.5rem);
                            resize: none;
                            /* 完全禁止調整大小 */
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(3),
                    &:nth-child(7) {
                        label::after {
                            content: ' *';
                            color: rgb(255, 0, 0, 0.7);
                        }
                    }

                    input,
                    textarea {
                        width: 100%;
                        background: rgba(13, 19, 0, 1);
                        border: none;
                        font-size: 1.25rem;
                        color: #ffffff;

                        &::placeholder {
                            color: rgba(255, 255, 255, .5);
                        }

                        &::selection {
                            background: rgba(13, 19, 0, 1);
                            color: rgba(255, 242, 0, 1);
                        }

                        &:focus {
                            font-size: 1.5rem;

                            &::placeholder {
                                font-size: 1.25rem;
                                color: rgba(0, 251, 255, 0.5);
                            }
                        }
                    }
                }

                div.alert {
                    font-size: 1rem;
                    color: rgb(255, 111, 0);
                }

                div.posted {
                    color: rgba(255, 240, 101, 1);
                }

                div.formBtn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        padding: .5rem;
                        border: none;
                        border-radius: 1.5rem;

                        &#m_submit,
                        &#submit {
                            height: 10%;
                            max-height: 3rem;
                            min-height: 43px;
                            width: 30%;
                            max-width: 10rem;
                            min-width: 135px;
                            background-color: rgba(32, 100, 210, 1);
                            color: #fff;
                            font-size: 1.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                background-color: rgb(54, 115, 214);

                                div.btnIcon {
                                    margin-left: .2rem;
                                }
                            }

                            span {
                                text-wrap: nowrap;
                            }

                            div.btnIcon {
                                width: 1.5rem;
                                height: 1.5rem;
                                background: url(/assets/styles/images/Icons/submitIcon.png) no-repeat center/contain;
                                transition: all .2s;
                            }
                        }

                        &#m_clear,
                        &#clear {
                            width: 6rem;
                            height: 2.5rem;
                            font-size: 1.2rem;
                            background-color: rgba(13, 19, 0, 1);
                            color: rgba(255, 255, 255, .5);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                color: rgba(255, 255, 255, 1);
                                background-color: rgba(63, 69, 0, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}