div.desktop {
    position: relative;

    div.wall {
        width: 100vw;
        height: 70vh;

        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            width: 100vw;
            height: 70vh;
            position: absolute;
            top: 0;
            left: 0;

            background: linear-gradient(rgba(255, 255, 255, 0) 90%, rgba(38, 215, 255, 0.15));
        }

        &::after {
            content: '';
            width: 100vw;
            height: 70vh;
            position: absolute;
            top: 0;
            left: 0;

            // x 軸與 y 軸
            background: radial-gradient(ellipse 80% 50% at 50% 35%, rgba(255, 252, 207, 0.25), #00000000);
            animation: neonBlink 15s infinite;
        }

        div.neonWall {
            padding: 1rem 0 0 4rem;
            width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;

            div.row {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            div.neonLight {
                margin: -1.95rem 2.5rem;
                position: relative;
                width: 9.2rem;
                height: 8rem;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                background-color: rgba(255, 252, 207, 0.5);

                animation: neonBlink 15s infinite;


                &::before {
                    content: '';
                    position: absolute;
                    top: calc(50% - (7.2rem / 2));
                    left: calc(50% - (8.3rem / 2));
                    width: 8.3rem;
                    height: 7.2rem;
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                    background-color: rgba(255, 252, 207, 0.5);

                    animation: neonBlink 15s infinite;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 9.2rem;
                    height: 8rem;
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                    background-color: rgb(0, 0, 0);
                    animation: nonBlink 15s infinite;
                }
            }

            div.nonLight {
                margin: -1.95rem 2.5rem;
                position: relative;
                width: 9.2rem;
                height: 8rem;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                opacity: 0;
            }
        }

        div.screen {
            padding: 10px;
            width: 50%;
            max-width: 1000px;
            min-width: 850px;
            height: 50vh;
            min-height: 380px;
            overflow: hidden;
            background-color: #444;
            border: 2rem solid #222;
            border-radius: 10px;
            text-align: left;
            position: absolute;
            top: 15%;
            z-index: 3;
            display: flex;

            div.typing-region {
                padding: 0 2rem;
                width: 100%;
                max-width: 683px;
                height: 100%;
                background-color: rgba(44, 44, 44, 1);
                border-radius: 5px;

                div.typing-title {
                    padding-top: 1.5rem;
                    width: 28rem;
                    height: 116px;
                    font-size: 2.1rem;

                    span:not(.welcomeWords) {
                        text-wrap: nowrap;
                    }
                }

                div.typing-box {
                    height: calc(100% - 7rem - 1.5rem);
                    background-color: rgba(44, 44, 44, 1);
                    overflow: auto;
                    outline: none;
                    font-size: 2rem;

                    &::-webkit-scrollbar {
                        width: 0px;
                    }

                    span {
                        opacity: .3;
                    }
                }
            }


            ul.navigator {
                padding: 2rem 2rem 0 0;
                height: 100%;
                list-style: none;
                font-weight: 600;
                font-size: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                overflow: hidden;
                background-color: rgba(44, 44, 44, 1);

                &:hover {
                    li {
                        &:last-child {
                            bottom: -10rem;
                        }

                        &:not(:last-child) {
                            right: 0rem;
                        }
                    }
                }

                li {
                    &:last-child {
                        align-self: center;
                        position: relative;
                        transition: all ease-out 1s;
                        color: rgba(244, 199, 81, 1);
                    }

                    &:not(:last-child) {
                        position: relative;
                        transition: all ease-out .8s;
                        right: -20rem;

                        a {
                            display: flex;
                            justify-content: flex-end;
                            text-decoration: none;
                            color: white;

                            div {
                                margin-left: 1rem;
                                width: 50px;
                                display: flex;
                                align-items: center;

                                img {
                                    width: 100%;
                                }
                            }

                            &:hover {
                                color: rgb(255, 225, 115);
                            }
                        }
                    }
                }
            }

            @media (max-width:800px) {
                min-width: unset;
                width: 100%;
                border: none;
            }

            @media (max-width:756px) {
                justify-content: center;
                top: 25%;

                div.typing-region {
                    max-width: unset;
                }

                ul.navigator {
                    display: none;
                }
            }

            @media (max-width:500px) {
                div.typing-region {
                    div.typing-title {
                        width: 100%;
                    }
                }
            }
        }

        @media (max-width:576px) {
            position: absolute;
            top: 0;
            height: 100vh;

            &::before,
            &::after {
                height: 100vh;
            }

            div.screen {
                top: 15%;

                div.typing-region {
                    div.typing-title {
                        margin-top: 3.5rem;
                    }

                    div.typing-box {
                        height: calc(100% - 7rem - 1.5rem - 3.5rem);

                        span {
                            font-size: 0;
                        }
                    }
                }
            }
        }

        @media (max-width:480px) {
            div.screen {
                div.typing-region {
                    div.typing-title {
                        height: 163px;
                    }

                    div.typing-box {
                        height: calc(100% - 12rem - 3rem);
                    }
                }
            }
        }

        @media (max-width:412px) {
            div.screen {
                div.typing-region {
                    div.typing-title {
                        margin-top: 1.5rem;
                        height: 201px;
                    }

                    div.typing-box {
                        height: calc(100% - 12rem - 4rem);
                    }
                }
            }
        }
    }

    div.table {
        width: 100vw;
        height: 30vh;
        background: url(/assets/styles/images/bg/bgtabledark.png) center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        div.keyboard {
            padding: 1.2rem;
            margin-top: -2rem;
            width: 880px;
            display: flex;
            flex-direction: column;
            gap: 7.5px;
            border-radius: 10px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
            transform: perspective(800px) rotateX(40deg);
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                top: 6px;
                left: calc(50% - (874px / 2));
                background-color: #c4c4c4;
                width: 874px;
                height: calc(50px * 5 + 1.2rem * 2 + 7.5px * 4);
                border-radius: 4px;
                transform: perspective(800px) rotateX(0deg);
                z-index: -2;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: calc(50% - (880px / 2));
                background-color: #191b30;
                width: 880px;
                height: calc(50px * 5 + 1.2rem * 2 + 7.5px * 4);
                border-radius: 5px;
                transform: perspective(800px) rotateX(0deg);
                z-index: -1;
            }

            @media (max-width: 1366px) {
                transform: perspective(800px) rotateX(40deg) scale(.85);
            }

            @media (max-width: 1281px) {
                transform: perspective(800px) rotateX(40deg) scale(.75);
            }

            @media (max-width: 993px) {
                transform: perspective(800px) rotateX(40deg) scale(.7);
            }

            @media (max-width: 683px) {
                transform: perspective(800px) rotateX(40deg) scale(.6);
            }



            // perspective: 800px;
            /* Set the perspective for 3D */

            div.key-row {
                display: flex;
                justify-content: space-between;
                gap: 5px;

                div.key {
                    flex-shrink: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    background-color: #444;
                    color: white;
                    font-family: 'Noto Sans TC';
                    font-size: 1.5rem;
                    border-radius: 5px;
                    cursor: pointer;
                    user-select: none;

                    /* Enable hardware acceleration for smoother transitions */
                    transition: transform 0.2s, background-color 0.2s;

                    &:active {
                        background-color: #4f6b7a;
                        transform: translateZ(-5px);
                        /* Apply a slight push effect when pressed */
                    }
                }

                div.key-down {
                    background-color: #4f6b7a;
                    transform: translateZ(-5px);
                }

                div.key-1U {
                    width: 50px;
                }

                div.key-125U {
                    width: calc(50 * 1.25px);
                }

                div.key-15U {
                    width: calc(50 * 1.5px);
                }

                div.key-175U {
                    width: calc(50 * 1.75px);
                }

                div.key-2U {
                    width: calc(50 * 2px);
                }

                div.key-225U {
                    width: calc(50 * 2.25px);
                }

                div.key-275U {
                    width: calc(50 * 2.75px);
                }

                div.key-625U {
                    width: calc(50 * 6.25px);
                }

                div.noType {
                    background-color: #777;
                    font-size: small;
                }
            }

            div.R1 {
                div.key {
                    transform: perspective(800px) translateZ(10px);
                }
            }

            div.R2 {
                div.key {
                    transform: perspective(800px) translateZ(15px);
                }
            }

            div.R3 {
                div.key {
                    transform: perspective(800px) translateZ(20px);
                }
            }

            div.R4 {
                div.key {
                    transform: perspective(800px) translateZ(25px);
                }
            }

            div.R5 {
                div.key {
                    transform: perspective(800px) translateZ(30px);
                }
            }
        }

        @media (max-width:576px) {
            opacity: 0;
        }
    }
}