div.experience {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(38, 216, 255, .2) 15%, rgba(0, 187, 246, 0), rgba(0, 187, 246, 0));
    }

    div.main {
        align-items: flex-end;
        overflow: hidden;

        &.scroll_in div.container div.folderBox {
            div.folder {

                &.bgFolder {
                    left: 0;
                    opacity: 1;
                }

                &.education {
                    left: 0;
                    opacity: 1;
                }

                &.works {
                    left: 10%;
                    opacity: 1;

                    @media (max-width:800px) {
                        left: 11.5%;

                        &:hover {
                            left: 50%;
                        }

                        &:focus {
                            left: 50%;
                        }
                    }

                    @media (max-width:756px) {
                        left: 12.5%;

                        &:hover {
                            left: 50%;
                        }

                        &:focus {
                            left: 50%;
                        }
                    }

                    @media (max-width:650px) {
                        left: 13.5%;

                        &:hover {
                            left: 46.5%;
                        }

                        &:focus {
                            left: 46.5%;
                        }
                    }

                    @media (max-width:576px) {
                        left: 6.5rem;

                        &:hover {
                            left: 12.5rem;
                            z-index: 2;
                        }

                        &:focus {
                            left: 12.5rem;
                        }
                    }

                    @media (max-width:480px) {
                        left: 1.5rem;

                        &:hover {
                            left: 30%;
                            z-index: 2;
                        }

                        &:focus {
                            left: 30%;
                        }
                    }

                    @media (max-width:400px) {
                        left: 1.5rem;

                        &:hover {
                            left: 20%;
                            z-index: 2;
                        }

                        &:focus {
                            left: 20%;
                        }
                    }
                }
            }
        }

        div.container {
            padding-top: 3rem;
            padding-bottom: 0;
            align-items: flex-end;

            @media (max-width:576px) {
                align-items: center;
            }

            @media (max-width:480px) {
                overflow-x: hidden;
            }

            div.folderBox {
                width: 100%;
                height: 100%;
                min-height: 600px;
                position: relative;

                @media (max-width:576px) {
                    height: 600px;
                }

                div.folder {
                    padding: 3rem 0;
                    margin-right: -2rem;
                    width: 40%;
                    min-width: 400px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &.bgFolder {
                        z-index: 0;
                        position: absolute;
                        height: calc(100%);
                        bottom: 0%;
                        left: -50%;
                        opacity: 0;
                        background: url(/assets/styles/images/bg/lclipgray1.png) no-repeat center/contain;
                        transform: rotate(180deg);
                        transition: all .6s cubic-bezier(0, 0.55, 0.45, 1);

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: -25%;
                            bottom: -8%;
                            background: url(/assets/styles/images/bg/lclipwh.png) no-repeat center/contain;

                            transform: rotate(15deg);
                            z-index: 1;
                            opacity: .9;

                            @media (max-width:480px) {
                                left: -5%;
                            }
                        }
                    }

                    &.education {
                        z-index: 2;
                        position: absolute;
                        height: calc(100%);
                        bottom: 0%;
                        left: -50%;
                        opacity: 0;
                        background: url(/assets/styles/images/bg/lclipgray1.png) no-repeat center/contain;
                        transition: opacity .6s cubic-bezier(0, 0.55, 0.45, 1);
                    }

                    &.works {
                        z-index: 1;
                        position: absolute;
                        height: calc(100%);
                        bottom: 8%;
                        left: 100%;
                        opacity: 0;
                        background: url(/assets/styles/images/bg/lclipwh.png) no-repeat center/contain;

                        transform: rotate(15deg);
                        transition:
                            opacity 1s cubic-bezier(0, 0.55, 0.45, 1),
                            transform 1s cubic-bezier(0, 0.55, 0.45, 1),
                            left 1s ease,
                            z-index .5s cubic-bezier(0, 1.06, .3, 1);

                        position: relative;

                        div.arrow {
                            position: absolute;
                            top: 21%;
                            right: 20%;
                            color: rgba(244, 199, 81, 1);
                            font-size: 3rem;
                            opacity: 1;
                            transform: rotate(-16deg);
                            border-right: 5px dotted rgba(244, 199, 81);
                            border-radius: 50%;
                            padding-right: 1%;
                            transition: all cubic-bezier(0.85, 0, 0.15, 1) 1s;
                        }

                        &:hover {
                            left: 20%;
                            bottom: 8%;

                            div.arrow {
                                top: 21%;
                                right: 20%;
                                opacity: 0;
                                transform: rotate(0);
                            }
                        }

                        &:focus {
                            width: 50%;
                            transform: rotate(0deg);
                            left: 51%;
                            bottom: 0%;
                            z-index: 2;

                            div.arrow {
                                top: 21%;
                                right: 20%;
                                opacity: 0;
                                transform: rotate(0);
                            }
                        }
                    }

                    &.works {
                        color: black;
                        font-weight: 600;

                        div.content {
                            padding: 1rem 2rem;
                            width: 45.9%;
                            min-width: 330px;
                        }
                    }

                    h2 {
                        font-size: 2.5rem;
                        font-weight: 600;
                        align-self: center;
                    }

                    p {
                        font-size: 1.5rem;
                        position: relative;
                        text-align: start;
                    }

                    span {
                        display: inline-block;
                        text-align: start;
                    }

                    div.content {
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-evenly;
                        width: 55%;
                        min-width: 330px;
                        height: 100%;

                        div.degree {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            div.getTime {
                                width: 100%;
                                display: flex;

                                p {
                                    &.edu {
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            left: -35px;
                                            width: 30px;
                                            height: 30px;
                                            background: url(/assets/styles/images/Icons/edu.png);
                                        }
                                    }

                                    &.years {
                                        position: absolute;
                                        left: 55%;

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            left: -10px;
                                            width: 3px;
                                            height: 30px;
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }

                        div.jobs {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-evenly;

                            p.years {
                                &::before {
                                    content: '';
                                    position: absolute;
                                    left: -35px;
                                    width: 30px;
                                    height: 30px;
                                    background: url(/assets/styles/images/Icons/job.png);
                                }
                            }

                            p.desc {
                                height: 0;
                                font-size: 1.5rem;
                                font-weight: 600;
                                overflow: hidden;
                                transition: all .3s;
                            }

                            &:hover {
                                p.desc {
                                    height: 66px;
                                    transition: all .5s;
                                }

                                p.jobTitle {
                                    color: rgb(0, 138, 140);
                                }
                            }
                        }
                    }
                }

                &:hover {
                    div.works {
                        div.arrow {
                            transition: all ease .6s;
                            top: 19.5%;
                            right: 10%;
                            transform: scale(1.3) rotate(-16deg);
                        }
                    }
                }
            }
        }
    }
}