/* 定義呼吸燈的動畫 */
@keyframes neonBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes nonBlink {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: .9;
    }

    100% {
        opacity: 0.1;
    }
}

// project 背景閃爍
@keyframes bgBreath {
    0% {
        opacity: 0.01;
    }

    50% {
        opacity: .25;
    }

    100% {
        opacity: 0.01;
    }
}

// project CV微翻面
@keyframes CVFlipped {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(30deg);
    }

    60% {
        transform: rotateY(0deg);
    }

    75% {
        transform: rotateY(20deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

// project CV微翻面(back)
@keyframes CVFlippedBack {
    0% {
        transform: rotateY(180deg);
    }

    25% {
        transform: rotateY(210deg);
    }

    60% {
        transform: rotateY(180deg);
    }

    75% {
        transform: rotateY(200deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

// topBtn hover 轉一圈
@keyframes turnaround {
    0% {
        transform: rotateY(0deg);
    }

    40% {
        transform: rotateY(180deg);
    }

    80% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}


// border 漣漪往外
@keyframes borderWaveOut {
    0% {
        top: calc(50% - 1.5rem / 2);
        left: calc(50% - 1.5rem / 2);
        width: 0rem;
        height: 0rem;
        border: .75rem double #ffffff;
        opacity: .8;
    }

    50% {
        top: calc(50% - 10.5rem / 2);
        left: calc(50% - 10.5rem / 2);
        width: 9rem;
        height: 9rem;
        border: .75rem double #ffffff;
        opacity: .4;
    }

    100% {
        top: calc(50% - 19.5rem / 2);
        left: calc(50% - 19.5rem / 2);
        width: 18rem;
        height: 18rem;
        border: .75rem double #ffffff;
        opacity: 0;
    }
}

// border 漣漪往內
@keyframes borderWaveIn {
    0% {
        top: calc(50% - 16.5rem / 2);
        left: calc(50% - 16.5rem / 2);
        width: 15rem;
        height: 15rem;
        border: .75rem double #ffffff;
        opacity: .4;
    }

    50% {
        top: calc(50% - 9rem / 2);
        left: calc(50% - 9rem / 2);
        width: 7.5rem;
        height: 7.5rem;
        border: .75rem double #ffffff;
        opacity: .2;
    }

    100% {
        top: calc(50% - 1.5rem / 2);
        left: calc(50% - 1.5rem / 2);
        width: 0rem;
        height: 0rem;
        border: .75rem double #ffffff;
        opacity: 0;
    }
}