@charset "UTF-8";
div.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.about div.main {
  background-color: #000000;
  border-radius: 5px;
}
div.about div.main div.container {
  padding-bottom: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
@media (max-width: 850px) {
  div.about div.main div.container {
    gap: 0rem;
  }
}
@media (max-width: 800px) {
  div.about div.main div.container {
    display: none;
  }
}
div.about div.main div.container div.bdLines {
  background-color: rgb(244, 199, 81);
  position: absolute;
  -webkit-transition: opacity 1s cubic-bezier(0, 0.55, 0.45, 1), width 0.6s ease, height 0.6s ease;
  transition: opacity 1s cubic-bezier(0, 0.55, 0.45, 1), width 0.6s ease, height 0.6s ease;
}
@media (max-width: 1440px) {
  div.about div.main div.container div.bdLines {
    opacity: 0;
  }
}
div.about div.main div.container div.bdLines.long {
  width: 0;
  height: 0;
}
div.about div.main div.container div.bdLines.short {
  width: 0;
  height: 0;
}
div.about div.main div.container div.bdLines.topBd {
  border-radius: 1rem 0 50% 50%;
}
div.about div.main div.container div.bdLines.topBd.long {
  border-radius: 0 50% 50% 0;
}
div.about div.main div.container div.bdLines.bottomBd {
  border-radius: 50% 50% 1rem 0;
}
div.about div.main div.container div.bdLines.bottomBd.long {
  border-radius: 50% 0 0 50%;
}
div.about div.main div.slide {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  div.about div.main div.slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
div.about div.main .fp-arrow {
  display: none;
}
@media (max-width: 800px) {
  div.about div.main .fp-arrow {
    display: unset;
  }
}
div.about div.main .fp-arrow.fp-prev {
  border-width: 35px 35px 35px 0;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
  left: 5px;
  z-index: 5;
}
@media (max-width: 450px) {
  div.about div.main .fp-arrow.fp-prev {
    border-width: 25px 25px 25px 0;
  }
}
div.about div.main .fp-arrow.fp-next {
  border-width: 35px 0 35px 35px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  right: 5px;
  z-index: 5;
}
@media (max-width: 450px) {
  div.about div.main .fp-arrow.fp-next {
    border-width: 25px 0 25px 25px;
  }
}
div.about div.main div.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  opacity: 0;
}
@media (max-width: 850px) {
  div.about div.main div.col {
    gap: 0rem;
  }
}
@media (max-width: 800px) {
  div.about div.main div.col {
    padding-top: 10%;
    min-width: 375px;
    min-height: 650px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media (max-width: 375px) {
  div.about div.main div.col {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
div.about div.main div.col div.aboutBlock {
  padding: 1rem 1.5rem;
  background-color: rgb(23, 23, 23);
  border-radius: 20px;
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}
div.about div.main div.col div.aboutBlock:not(.cvDownload):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 3px solid rgba(255, 255, 255, 0.6196078431);
  z-index: 3;
}
div.about div.main div.col div.aboutBlock:not(.cvDownload):hover h3 {
  color: rgb(111, 217, 255);
}
div.about div.main div.col div.aboutBlock:not(.cvDownload):hover.name div.ch {
  color: rgb(255, 183, 111);
}
div.about div.main div.col div.aboutBlock:not(.cvDownload):hover.name div.en {
  color: rgb(111, 255, 219);
}
div.about div.main div.col div.aboutBlock h3 {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: start;
}
div.about div.main div.col div.aboutBlock h3.mid {
  margin-bottom: unset;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 2rem;
}
div.about div.main div.col div.aboutBlock p {
  -ms-flex-item-align: start;
      align-self: start;
  text-align: start;
}
div.about div.main div.col div.aboutBlock.sBlock {
  min-height: 9rem;
  max-height: 10rem;
}
div.about div.main div.col div.aboutBlock.lBlock {
  min-height: 28rem;
  max-height: 30rem;
}
div.about div.main div.col div.aboutBlock.name {
  font-family: "ChenYuluoyan", "myFont";
}
div.about div.main div.col div.aboutBlock.name div.ch {
  margin-bottom: -0.5rem;
  font-size: 4rem;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
div.about div.main div.col div.aboutBlock.name div.en {
  margin-top: -0.5rem;
  font-size: 3rem;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}
div.about div.main div.col div.aboutBlock.aboutMe span {
  display: inline-block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
div.about div.main div.col div.aboutBlock.aboutMe span:hover {
  color: rgb(255, 216, 153);
}
div.about div.main div.col div.aboutBlock.infos {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
div.about div.main div.col div.aboutBlock.infos div {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
div.about div.main div.col div.aboutBlock.infos div p.infoLang {
  padding-left: 4rem;
}
div.about div.main div.col div.aboutBlock.infos p:not(.nohover):hover {
  color: rgb(255, 255, 111);
}
div.about div.main div.col div.aboutBlock.cvDownload {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer,
div.about div.main div.col div.aboutBlock.cvDownload .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 20px;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer {
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card {
  z-index: 1;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card.front::before {
  content: "點擊空白處翻面";
  position: absolute;
  font-size: 1rem;
  right: 5%;
  bottom: -37%;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card.back {
  display: none;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card a h3 {
  -ms-flex-item-align: center;
      align-self: center;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card a div {
  margin-left: 0.5rem;
  height: 70px;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer div.card a div img {
  height: 100%;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer.flipped div.front {
  display: none;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer.flipped div.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div.about div.main div.col div.aboutBlock.cvDownload div.cardContainer.flipped div.back::before {
  content: "click to flip";
  position: absolute;
  font-size: 1rem;
  right: 5%;
  bottom: -37%;
}
div.about div.main div.col div.aboutBlock.cvDownload:hover {
  border: 3px solid rgba(255, 255, 255, 0.6196078431);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 3;
}
div.about div.main div.col div.aboutBlock.cvDownload:hover div.cardContainer .front::before,
div.about div.main div.col div.aboutBlock.cvDownload:hover div.cardContainer .back::before {
  color: orange;
}
div.about div.main div.col div.aboutBlock.skills {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
div.about div.main div.col div.aboutBlock.skills p {
  width: 100%;
  position: relative;
}
div.about div.main div.col div.aboutBlock.skills p:hover {
  color: rgb(255, 255, 153);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding-left: 3%;
}
div.about div.main div.col div.aboutBlock.skills p:hover::after {
  background-color: rgb(244, 199, 81);
}
div.about div.main div.col div.aboutBlock.skills p::before {
  content: "";
  position: absolute;
  background-color: rgb(44, 44, 44);
  border-radius: 15px;
  height: 0.75rem;
  width: 10rem;
  top: calc(50% - 0.375rem);
  left: 45%;
}
div.about div.main div.col div.aboutBlock.skills p::after {
  content: "";
  position: absolute;
  background-color: rgb(173, 203, 238);
  border-radius: 15px;
  height: 0.75rem;
  top: calc(50% - 0.375rem);
  left: 45%;
  -webkit-transition: all cubic-bezier(0, 0.55, 0.45, 1) 1s;
  transition: all cubic-bezier(0, 0.55, 0.45, 1) 1s;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(2)::after {
  width: 7rem;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(3)::after {
  width: 7rem;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(4)::after {
  width: 6rem;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(5)::after {
  width: 4.5rem;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(6)::after {
  width: 3.5rem;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(7)::after {
  width: 4rem;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(8)::after {
  width: 5rem;
}
div.about div.main div.col div.aboutBlock.skills p:nth-child(9)::after {
  width: 3rem;
}
div.about div.main div.col div.aboutBlock.software div.bgContainer {
  width: 15rem;
  background: url(/assets/styles/images/bg/bgSoftware.png) center/contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.about div.main div.col div.aboutBlock.software div.bgContainer div {
  height: 3.5rem;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
div.about div.main div.col div.aboutBlock.software div.bgContainer div:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
div.about div.main div.col div.aboutBlock.software div.bgContainer div img {
  height: 100%;
}
div.about div.main.scroll_in div.container div.bdLines.long {
  width: calc(50% - 1.25rem);
  height: 1.25rem;
}
div.about div.main.scroll_in div.container div.bdLines.short {
  width: 1.25rem;
  height: 50%;
}
div.about div.main.scroll_in div.container div.bdLines.topBd {
  top: 0rem;
  left: -1.25rem;
}
div.about div.main.scroll_in div.container div.bdLines.topBd.long {
  left: 0rem;
}
div.about div.main.scroll_in div.container div.bdLines.bottomBd {
  bottom: 0rem;
  right: -1.25rem;
}
div.about div.main.scroll_in div.container div.bdLines.bottomBd.long {
  right: 0rem;
}
div.about div.main.scroll_in div.col {
  opacity: 1;
}