@charset "UTF-8";
div.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.contact::before {
  content: "";
  position: absolute;
  width: 51vw;
  height: 51vw;
  border: 1rem solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 35%;
  left: calc(50% - 26.5vw);
}
@media (max-width: 576px) {
  div.contact::before {
    display: none;
  }
}
div.contact div.main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  div.contact div.main {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
div.contact div.main div.container {
  padding-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 576px) {
  div.contact div.main div.container {
    display: none;
  }
}
div.contact div.main div.slide {
  display: none;
  padding-top: 6.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.contact div.main div.slide ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
@media (max-width: 576px) {
  div.contact div.main div.slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
div.contact div.main .fp-arrow {
  display: none;
}
@media (max-width: 576px) {
  div.contact div.main .fp-arrow {
    display: unset;
  }
}
div.contact div.main .fp-arrow.fp-prev {
  border-width: 35px 35px 35px 0;
  border-color: transparent rgba(38, 216, 255, 0.5) transparent transparent;
  left: 5px;
  z-index: 5;
}
@media (max-width: 450px) {
  div.contact div.main .fp-arrow.fp-prev {
    border-width: 25px 25px 25px 0;
  }
}
div.contact div.main .fp-arrow.fp-next {
  border-width: 35px 0 35px 35px;
  border-color: transparent transparent transparent rgba(38, 216, 255, 0.5);
  right: 5px;
  z-index: 5;
}
@media (max-width: 450px) {
  div.contact div.main .fp-arrow.fp-next {
    border-width: 25px 0 25px 25px;
  }
}
div.contact div.main div.contactInfo {
  width: 35%;
  max-width: 407px;
  min-width: 320px;
  height: 100%;
  max-height: 815px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
}
@media (max-width: 1200px) {
  div.contact div.main div.contactInfo {
    width: 40%;
  }
}
@media (max-width: 992px) {
  div.contact div.main div.contactInfo {
    width: 45%;
  }
}
@media (max-width: 756px) {
  div.contact div.main div.contactInfo {
    width: 46%;
  }
}
@media (max-width: 650px) {
  div.contact div.main div.contactInfo {
    min-width: 355px;
  }
}
@media (max-width: 576px) {
  div.contact div.main div.contactInfo {
    width: 100%;
    min-height: 660px;
  }
}
@media (max-width: 390px) {
  div.contact div.main div.contactInfo {
    min-height: 600px;
  }
}
div.contact div.main div.contactInfo div.phoneBg {
  padding: 6.2% 6.4%;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}
div.contact div.main div.contactInfo div.phoneBg::before {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 5%;
  background: #000000;
  background: url(/assets/styles/images/bg/phonebg.png) no-repeat center/cover;
  z-index: -1;
}
div.contact div.main div.contactInfo div.phoneBg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: url(/assets/styles/images/bg/phonebd.png) no-repeat center/cover;
  z-index: -1;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer::after {
  content: "";
  width: 35%;
  height: 0.25rem;
  border-radius: 1rem;
  background: rgb(254, 254, 255);
  position: absolute;
  bottom: 3.7%;
  left: 32.5%;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneHead {
  margin-top: 0.5rem;
  padding: 0 1.5rem;
  width: 100%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneHead div.headRight {
  width: 1rem;
  height: 1rem;
  background: url(/assets/styles/images/Icons/battery.png) no-repeat top/contain;
  position: relative;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneHead div.headRight::before {
  content: "";
  width: 100%;
  height: 58%;
  background: url(/assets/styles/images/Icons/wifi.png) no-repeat center/contain;
  position: absolute;
  top: 0;
  right: 1.1rem;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneHead div.headRight::after {
  content: "";
  width: 100%;
  height: 50%;
  background: url(/assets/styles/images/Icons/signal.png) no-repeat center/contain;
  position: absolute;
  top: 0;
  right: 1.95rem;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo {
  padding: 1.25rem 0;
  width: 100%;
  height: 93%;
  background: rgb(28, 28, 30);
  border-radius: 0 0 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo h3 {
  font-size: 1.5rem;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.myPicture {
  -ms-flex-item-align: center;
      align-self: center;
  width: 8vw;
  height: 8vw;
  max-width: 9.5rem;
  max-height: 9.5rem;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  background: rgb(73, 255, 244);
  overflow: hidden;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.myPicture img {
  height: 100%;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.basicInfo div.infoRow {
  position: relative;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.basicInfo div.infoRow:not(.tel)::after {
  content: "";
  width: 100%;
  height: 0.15rem;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.basicInfo div.infoRow div.infoContent {
  width: 67%;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.infoRow {
  padding: 2.5% 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgb(44, 44, 46);
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.infoRow div.infoTitle {
  font-size: 1.5rem;
  text-align: left;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.infoRow div.infoContent {
  width: 60%;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.infoRow div.infoContent:hover i.fa-chevron-right {
  margin-right: 0rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
}
div.contact div.main div.contactInfo div.phoneBg div.phoneContainer div.phoneInfo div.infoBox div.infoRow div.infoContent i.fa-chevron-right {
  margin-right: 0.3rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
div.contact div.main div.contactMsg {
  padding: 0.5rem 1.25rem;
  width: 45%;
  min-width: 350px;
  height: 85%;
  max-height: 800px;
  background: rgb(13, 19, 0);
  border: 0.5rem solid rgb(255, 178, 88);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
}
@media (max-width: 992px) {
  div.contact div.main div.contactMsg {
    width: 50%;
  }
}
@media (max-width: 650px) {
  div.contact div.main div.contactMsg {
    width: 55%;
  }
}
@media (max-width: 576px) {
  div.contact div.main div.contactMsg {
    width: 100%;
    height: 522px;
  }
}
@media (max-width: 390px) {
  div.contact div.main div.contactMsg {
    min-width: unset;
  }
}
div.contact div.main div.contactMsg::before {
  content: "";
  width: 15%;
  height: 10%;
  background: url(/assets/styles/images/Icons/arrow.png) no-repeat center/contain;
  position: absolute;
  bottom: 20%;
  right: 7.5%;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.8s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 2s cubic-bezier(0.34, 1.56, 0.66, 1.6);
  transition: opacity 0.8s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 2s cubic-bezier(0.34, 1.56, 0.66, 1.6);
  transition: opacity 0.8s cubic-bezier(0, 0.55, 0.45, 1), transform 2s cubic-bezier(0.34, 1.56, 0.66, 1.6);
  transition: opacity 0.8s cubic-bezier(0, 0.55, 0.45, 1), transform 2s cubic-bezier(0.34, 1.56, 0.66, 1.6), -webkit-transform 2s cubic-bezier(0.34, 1.56, 0.66, 1.6);
}
div.contact div.main div.contactMsg h3 {
  font-weight: 500;
  color: rgb(255, 240, 101);
}
div.contact div.main div.contactMsg p {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
div.contact div.main div.contactMsg p span:last-child {
  font-size: 1rem;
  text-align: right;
}
div.contact div.main div.contactMsg p span:last-child::before {
  content: "*";
  color: rgba(255, 0, 0, 0.7);
}
div.contact div.main div.contactMsg form {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}
div.contact div.main div.contactMsg form div {
  position: relative;
  width: 100%;
}
div.contact div.main div.contactMsg form div:not(.formBtn, .alert) :before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  bottom: 0%;
}
div.contact div.main div.contactMsg form div:nth-child(1), div.contact div.main div.contactMsg form div:nth-child(3), div.contact div.main div.contactMsg form div:nth-child(5) {
  height: 13%;
  min-height: 4.5rem;
}
div.contact div.main div.contactMsg form div:nth-child(7) {
  height: 30%;
}
div.contact div.main div.contactMsg form div:nth-child(7) textarea {
  height: calc(100% - 2.5rem);
  resize: none;
  /* 完全禁止調整大小 */
}
div.contact div.main div.contactMsg form div:nth-child(1) label::after, div.contact div.main div.contactMsg form div:nth-child(3) label::after, div.contact div.main div.contactMsg form div:nth-child(7) label::after {
  content: " *";
  color: rgba(255, 0, 0, 0.7);
}
div.contact div.main div.contactMsg form div input,
div.contact div.main div.contactMsg form div textarea {
  width: 100%;
  background: rgb(13, 19, 0);
  border: none;
  font-size: 1.25rem;
  color: #ffffff;
}
div.contact div.main div.contactMsg form div input::-webkit-input-placeholder, div.contact div.main div.contactMsg form div textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.contact div.main div.contactMsg form div input::-moz-placeholder, div.contact div.main div.contactMsg form div textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.contact div.main div.contactMsg form div input:-ms-input-placeholder, div.contact div.main div.contactMsg form div textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.contact div.main div.contactMsg form div input::-ms-input-placeholder, div.contact div.main div.contactMsg form div textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.contact div.main div.contactMsg form div input::placeholder,
div.contact div.main div.contactMsg form div textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.contact div.main div.contactMsg form div input::-moz-selection, div.contact div.main div.contactMsg form div textarea::-moz-selection {
  background: rgb(13, 19, 0);
  color: rgb(255, 242, 0);
}
div.contact div.main div.contactMsg form div input::selection,
div.contact div.main div.contactMsg form div textarea::selection {
  background: rgb(13, 19, 0);
  color: rgb(255, 242, 0);
}
div.contact div.main div.contactMsg form div input:focus,
div.contact div.main div.contactMsg form div textarea:focus {
  font-size: 1.5rem;
}
div.contact div.main div.contactMsg form div input:focus::-webkit-input-placeholder, div.contact div.main div.contactMsg form div textarea:focus::-webkit-input-placeholder {
  font-size: 1.25rem;
  color: rgba(0, 251, 255, 0.5);
}
div.contact div.main div.contactMsg form div input:focus::-moz-placeholder, div.contact div.main div.contactMsg form div textarea:focus::-moz-placeholder {
  font-size: 1.25rem;
  color: rgba(0, 251, 255, 0.5);
}
div.contact div.main div.contactMsg form div input:focus:-ms-input-placeholder, div.contact div.main div.contactMsg form div textarea:focus:-ms-input-placeholder {
  font-size: 1.25rem;
  color: rgba(0, 251, 255, 0.5);
}
div.contact div.main div.contactMsg form div input:focus::-ms-input-placeholder, div.contact div.main div.contactMsg form div textarea:focus::-ms-input-placeholder {
  font-size: 1.25rem;
  color: rgba(0, 251, 255, 0.5);
}
div.contact div.main div.contactMsg form div input:focus::placeholder,
div.contact div.main div.contactMsg form div textarea:focus::placeholder {
  font-size: 1.25rem;
  color: rgba(0, 251, 255, 0.5);
}
div.contact div.main div.contactMsg form div.alert {
  font-size: 1rem;
  color: rgb(255, 111, 0);
}
div.contact div.main div.contactMsg form div.posted {
  color: rgb(255, 240, 101);
}
div.contact div.main div.contactMsg form div.formBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.contact div.main div.contactMsg form div.formBtn button {
  padding: 0.5rem;
  border: none;
  border-radius: 1.5rem;
}
div.contact div.main div.contactMsg form div.formBtn button#m_submit, div.contact div.main div.contactMsg form div.formBtn button#submit {
  height: 10%;
  max-height: 3rem;
  min-height: 43px;
  width: 30%;
  max-width: 10rem;
  min-width: 135px;
  background-color: rgb(32, 100, 210);
  color: #fff;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.contact div.main div.contactMsg form div.formBtn button#m_submit:hover, div.contact div.main div.contactMsg form div.formBtn button#submit:hover {
  background-color: rgb(54, 115, 214);
}
div.contact div.main div.contactMsg form div.formBtn button#m_submit:hover div.btnIcon, div.contact div.main div.contactMsg form div.formBtn button#submit:hover div.btnIcon {
  margin-left: 0.2rem;
}
div.contact div.main div.contactMsg form div.formBtn button#m_submit span, div.contact div.main div.contactMsg form div.formBtn button#submit span {
  text-wrap: nowrap;
}
div.contact div.main div.contactMsg form div.formBtn button#m_submit div.btnIcon, div.contact div.main div.contactMsg form div.formBtn button#submit div.btnIcon {
  width: 1.5rem;
  height: 1.5rem;
  background: url(/assets/styles/images/Icons/submitIcon.png) no-repeat center/contain;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
div.contact div.main div.contactMsg form div.formBtn button#m_clear, div.contact div.main div.contactMsg form div.formBtn button#clear {
  width: 6rem;
  height: 2.5rem;
  font-size: 1.2rem;
  background-color: rgb(13, 19, 0);
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.contact div.main div.contactMsg form div.formBtn button#m_clear:hover, div.contact div.main div.contactMsg form div.formBtn button#clear:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(63, 69, 0);
}
div.contact div.main.scroll_in div.contactInfo {
  -webkit-transform: scale(1);
          transform: scale(1);
}
div.contact div.main.scroll_in div.contactMsg {
  -webkit-transform: scale(1);
          transform: scale(1);
}
div.contact div.main.scroll_in div.contactMsg::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}