div.desktop {
  position: relative;
}
div.desktop div.wall {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}
div.desktop div.wall::before {
  content: "";
  width: 100vw;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(255, 255, 255, 0)), to(rgba(38, 215, 255, 0.15)));
  background: linear-gradient(rgba(255, 255, 255, 0) 90%, rgba(38, 215, 255, 0.15));
}
div.desktop div.wall::after {
  content: "";
  width: 100vw;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse 80% 50% at 50% 35%, rgba(255, 252, 207, 0.25), rgba(0, 0, 0, 0));
  -webkit-animation: neonBlink 15s infinite;
          animation: neonBlink 15s infinite;
}
div.desktop div.wall div.neonWall {
  padding: 1rem 0 0 4rem;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
div.desktop div.wall div.neonWall div.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.desktop div.wall div.neonWall div.neonLight {
  margin: -1.95rem 2.5rem;
  position: relative;
  width: 9.2rem;
  height: 8rem;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: rgba(255, 252, 207, 0.5);
  -webkit-animation: neonBlink 15s infinite;
          animation: neonBlink 15s infinite;
}
div.desktop div.wall div.neonWall div.neonLight::before {
  content: "";
  position: absolute;
  top: calc(50% - 3.6rem);
  left: calc(50% - 4.15rem);
  width: 8.3rem;
  height: 7.2rem;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: rgba(255, 252, 207, 0.5);
  -webkit-animation: neonBlink 15s infinite;
          animation: neonBlink 15s infinite;
}
div.desktop div.wall div.neonWall div.neonLight::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 9.2rem;
  height: 8rem;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: rgb(0, 0, 0);
  -webkit-animation: nonBlink 15s infinite;
          animation: nonBlink 15s infinite;
}
div.desktop div.wall div.neonWall div.nonLight {
  margin: -1.95rem 2.5rem;
  position: relative;
  width: 9.2rem;
  height: 8rem;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  opacity: 0;
}
div.desktop div.wall div.screen {
  padding: 10px;
  width: 50%;
  max-width: 1000px;
  min-width: 850px;
  height: 50vh;
  min-height: 380px;
  overflow: hidden;
  background-color: #444;
  border: 2rem solid #222;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  top: 15%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div.desktop div.wall div.screen div.typing-region {
  padding: 0 2rem;
  width: 100%;
  max-width: 683px;
  height: 100%;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
}
div.desktop div.wall div.screen div.typing-region div.typing-title {
  padding-top: 1.5rem;
  width: 28rem;
  height: 116px;
  font-size: 2.1rem;
}
div.desktop div.wall div.screen div.typing-region div.typing-box {
  height: calc(100% - 7rem - 1.5rem);
  background-color: rgb(44, 44, 44);
  overflow: auto;
  outline: none;
  font-size: 2rem;
}
div.desktop div.wall div.screen div.typing-region div.typing-box::-webkit-scrollbar {
  width: 0px;
}
div.desktop div.wall div.screen div.typing-region div.typing-box span {
  opacity: 0.3;
}
div.desktop div.wall div.screen ul.navigator {
  padding: 2rem 2rem 0 0;
  height: 100%;
  list-style: none;
  font-weight: 600;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  background-color: rgb(44, 44, 44);
}
div.desktop div.wall div.screen ul.navigator:hover li:last-child {
  bottom: -10rem;
}
div.desktop div.wall div.screen ul.navigator:hover li:not(:last-child) {
  right: 0rem;
}
div.desktop div.wall div.screen ul.navigator li:last-child {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  -webkit-transition: all ease-out 1s;
  transition: all ease-out 1s;
  color: rgb(244, 199, 81);
}
div.desktop div.wall div.screen ul.navigator li:not(:last-child) {
  position: relative;
  -webkit-transition: all ease-out 0.8s;
  transition: all ease-out 0.8s;
  right: -20rem;
}
div.desktop div.wall div.screen ul.navigator li:not(:last-child) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  color: white;
}
div.desktop div.wall div.screen ul.navigator li:not(:last-child) a div {
  margin-left: 1rem;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.desktop div.wall div.screen ul.navigator li:not(:last-child) a div img {
  width: 100%;
}
div.desktop div.wall div.screen ul.navigator li:not(:last-child) a:hover {
  color: rgb(255, 225, 115);
}
@media (max-width: 800px) {
  div.desktop div.wall div.screen {
    min-width: unset;
    width: 100%;
    border: none;
  }
}
@media (max-width: 756px) {
  div.desktop div.wall div.screen {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 25%;
  }
  div.desktop div.wall div.screen div.typing-region {
    max-width: unset;
  }
  div.desktop div.wall div.screen ul.navigator {
    display: none;
  }
}
@media (max-width: 500px) {
  div.desktop div.wall div.screen div.typing-region div.typing-title {
    width: 100%;
  }
}
@media (max-width: 576px) {
  div.desktop div.wall {
    position: absolute;
    top: 0;
    height: 100vh;
  }
  div.desktop div.wall::before, div.desktop div.wall::after {
    height: 100vh;
  }
  div.desktop div.wall div.screen {
    height: 65vh;
    top: 15%;
  }
  div.desktop div.wall div.screen div.typing-region div.typing-title {
    margin-top: 3.5rem;
  }
  div.desktop div.wall div.screen div.typing-region div.typing-box {
    height: calc(100% - 7rem - 1.5rem - 3.5rem);
  }
  div.desktop div.wall div.screen div.typing-region div.typing-box span {
    font-size: 0;
  }
}
@media (max-width: 495px) {
  div.desktop div.wall div.screen div.typing-region div.typing-title {
    height: 163px;
  }
  div.desktop div.wall div.screen div.typing-region div.typing-box {
    height: calc(100% - 12rem - 3rem);
  }
}
div.desktop div.table {
  width: 100vw;
  height: 30vh;
  background: url(../images/bg/bgtabledark.png) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}
div.desktop div.table div.keyboard {
  padding: 1.2rem;
  margin-top: -2rem;
  width: 880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: perspective(800px) rotateX(40deg);
          transform: perspective(800px) rotateX(40deg);
  position: relative;
  z-index: 1;
  /* Set the perspective for 3D */
}
div.desktop div.table div.keyboard::before {
  content: "";
  position: absolute;
  top: 6px;
  left: calc(50% - 437px);
  background-color: #c4c4c4;
  width: 874px;
  height: calc(250px + 2.4rem + 30px);
  border-radius: 4px;
  -webkit-transform: perspective(800px) rotateX(0deg);
          transform: perspective(800px) rotateX(0deg);
  z-index: -2;
}
div.desktop div.table div.keyboard::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 440px);
  background-color: #191b30;
  width: 880px;
  height: calc(250px + 2.4rem + 30px);
  border-radius: 5px;
  -webkit-transform: perspective(800px) rotateX(0deg);
          transform: perspective(800px) rotateX(0deg);
  z-index: -1;
}
@media (max-width: 1366px) {
  div.desktop div.table div.keyboard {
    -webkit-transform: perspective(800px) rotateX(40deg) scale(0.85);
            transform: perspective(800px) rotateX(40deg) scale(0.85);
  }
}
@media (max-width: 1281px) {
  div.desktop div.table div.keyboard {
    -webkit-transform: perspective(800px) rotateX(40deg) scale(0.75);
            transform: perspective(800px) rotateX(40deg) scale(0.75);
  }
}
@media (max-width: 993px) {
  div.desktop div.table div.keyboard {
    -webkit-transform: perspective(800px) rotateX(40deg) scale(0.7);
            transform: perspective(800px) rotateX(40deg) scale(0.7);
  }
}
@media (max-width: 683px) {
  div.desktop div.table div.keyboard {
    -webkit-transform: perspective(800px) rotateX(40deg) scale(0.6);
            transform: perspective(800px) rotateX(40deg) scale(0.6);
  }
}
div.desktop div.table div.keyboard div.key-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}
div.desktop div.table div.keyboard div.key-row div.key {
  -ms-flex-negative: none;
      flex-shrink: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #444;
  color: white;
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Enable hardware acceleration for smoother transitions */
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}
div.desktop div.table div.keyboard div.key-row div.key:active {
  background-color: #4f6b7a;
  -webkit-transform: translateZ(-5px);
          transform: translateZ(-5px);
  /* Apply a slight push effect when pressed */
}
div.desktop div.table div.keyboard div.key-row div.key-down {
  background-color: #4f6b7a;
  -webkit-transform: translateZ(-5px);
          transform: translateZ(-5px);
}
div.desktop div.table div.keyboard div.key-row div.key-1U {
  width: 50px;
}
div.desktop div.table div.keyboard div.key-row div.key-125U {
  width: 62.5px;
}
div.desktop div.table div.keyboard div.key-row div.key-15U {
  width: 75px;
}
div.desktop div.table div.keyboard div.key-row div.key-175U {
  width: 87.5px;
}
div.desktop div.table div.keyboard div.key-row div.key-2U {
  width: 100px;
}
div.desktop div.table div.keyboard div.key-row div.key-225U {
  width: 112.5px;
}
div.desktop div.table div.keyboard div.key-row div.key-275U {
  width: 137.5px;
}
div.desktop div.table div.keyboard div.key-row div.key-625U {
  width: 312.5px;
}
div.desktop div.table div.keyboard div.key-row div.noType {
  background-color: #777;
  font-size: small;
}
div.desktop div.table div.keyboard div.R1 div.key {
  -webkit-transform: perspective(800px) translateZ(10px);
          transform: perspective(800px) translateZ(10px);
}
div.desktop div.table div.keyboard div.R2 div.key {
  -webkit-transform: perspective(800px) translateZ(15px);
          transform: perspective(800px) translateZ(15px);
}
div.desktop div.table div.keyboard div.R3 div.key {
  -webkit-transform: perspective(800px) translateZ(20px);
          transform: perspective(800px) translateZ(20px);
}
div.desktop div.table div.keyboard div.R4 div.key {
  -webkit-transform: perspective(800px) translateZ(25px);
          transform: perspective(800px) translateZ(25px);
}
div.desktop div.table div.keyboard div.R5 div.key {
  -webkit-transform: perspective(800px) translateZ(30px);
          transform: perspective(800px) translateZ(30px);
}
@media (max-width: 576px) {
  div.desktop div.table {
    opacity: 0;
  }
}