div.project {
  position: relative;
}
div.project::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/bg/bgline100.png) center/100%;
  -webkit-animation: bgBreath 15s cubic-bezier(0.85, 0, 0.15, 1) forwards infinite;
          animation: bgBreath 15s cubic-bezier(0.85, 0, 0.15, 1) forwards infinite;
}
div.project div.main {
  height: 130vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 800px) {
  div.project div.main {
    height: 120vh;
  }
}
@media (max-width: 650px) {
  div.project div.main {
    height: 110vh;
  }
}
div.project div.main div.container {
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: unset;
}
@media (max-width: 1280px) {
  div.project div.main div.container {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
@media (max-width: 650px) {
  div.project div.main div.container {
    -webkit-transform: scaleX(0.75);
            transform: scaleX(0.75);
    padding: 0;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 576px) {
  div.project div.main div.container {
    position: unset;
    -webkit-transform: scale(unset);
            transform: scale(unset);
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
div.project div.main div.container div.showcase {
  padding: 1rem 0%;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.3rem solid transparent;
  background: radial-gradient(ellipse 100% 90% at center, rgb(38, 216, 255), rgba(38, 216, 255, 0));
}
div.project div.main div.container div.showcase::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: radial-gradient(#000000 15px, #3c3c3c 15px);
  background-size: 110px 110px;
}
@media (max-width: 1280px) {
  div.project div.main div.container div.showcase::before {
    background-image: radial-gradient(#000000 12.5px, #3c3c3c 12.5px);
    background-size: 95px 95px;
  }
}
div.project div.main div.container div.showcase div.perfBoard {
  margin-left: 1.5%;
  width: 34%;
  height: 100%;
  background: url(../images/bg/woodTexture.png) center/cover;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}
div.project div.main div.container div.showcase div.perfBoard::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px;
  z-index: 0;
}
div.project div.main div.container div.showcase div.perfBoard div.showBox {
  height: 100%;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: auto;
  scroll-behavior: smooth;
  direction: rtl;
  z-index: 2;
}
div.project div.main div.container div.showcase div.perfBoard div.showBox::-webkit-scrollbar {
  width: 7.5px;
}
div.project div.main div.container div.showcase div.perfBoard div.showBox::-webkit-scrollbar-thumb {
  background: rgb(241, 207, 168);
}
div.project div.main div.container div.showcase div.perfBoard div.showBox div.webPage {
  padding-bottom: 1rem;
  width: 90%;
  height: 24%;
  max-height: 240px;
  min-height: 180px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
div.project div.main div.container div.showcase div.perfBoard div.showBox div.webPage:not(.webPageTop):before {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgb(71, 55, 37);
  border-radius: 1rem;
}
div.project div.main div.container div.showcase div.perfBoard div.showBox div.webPage a.projectWeb {
  width: 90%;
  height: 95%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1rem solid transparent;
  border-radius: 0.3rem;
  display: grid;
  place-content: center;
}
div.project div.main div.container div.showcase div.perfBoard div.showBox div.webPage a.projectWeb picture {
  display: grid;
  place-content: center;
}
div.project div.main div.container div.showcase div.perfBoard div.showBox div.webPage a.projectWeb picture img {
  width: 100%;
}
div.project div.main div.container div.showcase div.hangingScroll {
  margin: 0 2rem;
  -webkit-box-flex: 50%;
      -ms-flex: 50% 1 1;
          flex: 50% 1 1;
  width: 53%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2rem solid transparent;
  border-radius: 0.5rem;
  z-index: 1;
}
@media (max-width: 1280px) {
  div.project div.main div.container div.showcase div.hangingScroll {
    margin: 0 2%;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
  }
}
div.project div.main div.container div.showcase div.hangingScroll div.webContent {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: auto;
}
div.project div.main div.container div.showcase div.hangingScroll div.webContent a {
  width: 100%;
}
div.project div.main div.container div.showcase div.hangingScroll div.webContent a img {
  width: 100%;
}
div.project div.main div.container div.showcase span.webName {
  font-size: 0;
}
@media (max-width: 785px) {
  div.project div.main div.container div.showcase div.perfBoard {
    width: 7.5%;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  div.project div.main div.container div.showcase div.perfBoard span.webName {
    font-size: 1.25rem;
  }
  div.project div.main div.container div.showcase div.perfBoard:hover {
    width: 34%;
  }
  div.project div.main div.container div.showcase div.perfBoard:hover span.webName {
    font-size: 0rem;
  }
}
@media (max-width: 650px) {
  div.project div.main div.container div.showcase {
    padding: 0;
    width: 100%;
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0rem solid transparent;
  }
  div.project div.main div.container div.showcase div.perfBoard {
    margin-left: 0;
    width: 100%;
    height: 150px;
    border-radius: 0%;
  }
  div.project div.main div.container div.showcase div.perfBoard::before {
    border-radius: 0%;
  }
  div.project div.main div.container div.showcase div.perfBoard:hover {
    width: 100%;
  }
  div.project div.main div.container div.showcase div.perfBoard:hover span.webName {
    font-size: 0rem;
  }
  div.project div.main div.container div.showcase div.perfBoard div.showBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-y: scroll;
    direction: ltr;
  }
  div.project div.main div.container div.showcase div.perfBoard div.showBox::-webkit-scrollbar {
    height: 1px;
  }
  div.project div.main div.container div.showcase div.perfBoard div.showBox div.webPage {
    min-width: 200px;
    min-height: 140px;
  }
  div.project div.main div.container div.showcase div.hangingScroll {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin: 0.5rem 0;
    width: 100%;
    height: 100%;
    border: 0rem solid transparent;
  }
  div.project div.main div.container div.showcase div.hangingScroll ::-webkit-scrollbar {
    width: 1rem;
  }
  div.project div.main div.container div.showcase div.hangingScroll div.webContent {
    height: 75vh;
    border-radius: 0;
  }
}